<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=2.0, user-scalable=no" />
        <title>Christmas Lights!!</title>
    </head>

    <body>
        <div id="wrapper"></div>

        <p>Christmas lights:</p>
        <form method="post" action="/">
            <input type="submit" value="ON" name="ON"/>     
        </form>
        <form method="post" action="/">
            <input type="submit" value="OFF" name="OFF" /> 
        </form>
    </body>
</html>
    